<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Note List</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Gudea&display=swap');            
            *{
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                font-family: 'Gudea', sans-serif;
                background-color: #32333b;
            }
            li, a {
                font-weight: 500;
                font-size: 16px;
                text-decoration: none;
            }
            .this {
                background-color: #2F9BB6;
                border: none;
                border-radius: 50px;
                overflow: hidden;
            }
            .notes {
                text-align: center;
                color: white;
                padding: 10px;
            }
            .navs {
                list-style: none;
            }
            .navs li {
                display: inline-block;
                padding: 0 10px;
            }
            .navs li a{
                color: white;
                transition: all 0.3s ease 0s;
                padding:10px 10px;
            }
            .navs li a:hover {
                color: #2F9BB6;
                border-radius: 50px;
            }
            .this:hover {
                background-color: #32333b;
                border: none;
                border-radius: 50px;
                overflow: hidden;
            }
            header {
                text-align: center;
                padding: 20px
            }
            .card {
                background-color: white;
                box-shadow: 4px 4px 6px 8px rgba(0, 0, 0, 0.2);
                border-radius: 5px 5px 5px 5px;
                margin-top: 20px;
                margin-right: 20px;
                margin-left: 20px;
                display: block;
                width: 25%;
                word-wrap: break-word;
            }
            .card-header {
                background-color: #2F9BB6;
                border-radius: 5px 5px 0 0;
                text-align: center;
                color: white;
            }
            .content {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: stretch;
                width: 100%;
                padding: 0 10rem;
            }
            .cardContent {
                background-color: white;
                border-radius: none;
            }

        </style>
    </head>
    <body>
        <header>
            <h1 class="notes">NOTES</h1>
            <nav>
                <ul class="navs">
                    <li><a href="http://127.0.0.1:8000/lab-4/" >Tables</a></li>
                    <li><a href="http://127.0.0.1:8000/lab-4/add-note">Add</a></li>
                    <li><a href="http://127.0.0.1:8000/lab-4/note-list" class="this">List</a></li>
                </ul>
            </nav>
        </header>
        <div class="content">
            {% if Notes %}
                    {% for note in Notes %}
            <article class="card">
                <h2 class="card-header">{{note.title}}</h2>
                <div class="content-container">
                    <p class="cardContent"><b class="cardContent">From:</b> {{note.From}}</p>
                    <p class="cardContent"><b class="cardContent">To:</b> {{note.to}}</p>
                    <p class="cardContent"><b class="cardContent">Message:</b></p>
                    <p class="cardContent" id="last">{{note.message}}</p>
                </div>
                
            </article>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>