<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Add Note</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Gudea&display=swap');            
            *:not(label, form, input, .form-control){
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                font-family: 'Gudea', sans-serif;
                background-color: #32333b;
            }
            label {
                font-weight: bolder;
            }
            li, a {
                font-weight: 500;
                font-size: 16px;
                text-decoration: none;
            }
            .this {
                background-color: #2F9BB6;
                border: none;
                border-radius: 50px;
                overflow: hidden;
            }
            .this:hover {
                background-color: #32333b;
                border: none;
                border-radius: 50px;
                overflow: hidden;
            }
            .notes {
                text-align: center;
                color: white;
                padding: 10px;
            }
            .navs {
                list-style: none;
            }
            .navs li {
                display: inline-block;
                padding: 0 10px;
            }
            .navs li a{
                color: white;
                transition: all 0.3s ease 0s;
                padding:10px 10px;
            }
            .navs li a:hover {
                color: #2F9BB6;
                border-radius: 50px;
            }
            .content {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            header {
                text-align: center;
                padding: 20px
            }
            .container {
                box-shadow: 4px 4px 6px 8px rgba(0, 0, 0, 0.2);
                border-radius: 5px 5px 5px 5px;
                background-color: white;
                width: 500px;
                padding: 40px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: left;
            }
            input {
                background-color: white;
                border: 1px solid #2F9BB6;
                border-radius: 5px 5px 5px 5px;
                color: black;
                padding: 10px 20px;
                text-decoration: none;
                margin: 4px 2px;
            }
            textarea {
                border: 1px solid #2F9BB6;
                border-radius: 5px 5px 5px 5px;
                background-color: white;
                color: black;
                padding: 10px 20px;
                text-decoration: none;
                margin: 4px 2px;
            }
            #submit {
                border: none;
                color: white;
                background-color: #2F9BB6;
            }
            #id_message {
                border: 1px solid #2F9BB6;
                border-radius: 5px 5px 5px 5px;
                background-color: white;
                color: black;
                padding: 10px 20px;
                text-decoration: none;
                margin: 4px 2px;
            }
        </style>
    </head>
    <body>
        <header>
            <h1 class="notes">NOTES</h1>
            <nav>
                <ul class="navs">
                    <li><a href="http://127.0.0.1:8000/lab-4/" >Tables</a></li>
                    <li><a href="http://127.0.0.1:8000/lab-4/add-note" class="this">Add</a></li>
                    <li><a href="http://127.0.0.1:8000/lab-4/note-list">List</a></li>
                </ul>
            </nav>
        </header>
        <form class="container" method="post" action="">
            {% csrf_token %}
            <label for="to">To = {{form.to}}</label><br>
            <label for="from">From = {{form.From}}</label><br>
            <label for="title">Title = {{form.title}}</label><br>
            <label for="message">Message = {{form.message}}</label><br>
            <input type="submit" value="Submit" id="submit">
        </form>
    </body>
</html>