<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Note List</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Gudea&display=swap');            
            *{
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                font-family: 'Gudea', sans-serif;
                background-color: #32333b;
            }
            li, a {
                font-weight: 500;
                font-size: 16px;
                text-decoration: none;
            }
            .this {
                background-color: #2F9BB6;
                border: none;
                border-radius: 50px;
                overflow: hidden;
            }
            .this:hover {
                background-color: #32333b;
                border: none;
                border-radius: 50px;
                overflow: hidden;
            }
            .notes {
                text-align: center;
                color: white;
                padding: 10px;
            }
            .navs {
                list-style: none;
            }
            .navs li {
                display: inline-block;
                padding: 0 10px;
            }
            .navs li a{
                color: white;
                transition: all 0.3s ease 0s;
                padding:10px 10px;
            }
            .navs li a:hover {
                color: #2F9BB6;
                border-radius: 50px;
            }
            .content {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            header {
                text-align: center;
                padding: 20px
            }
            table {
                box-shadow: 4px 4px 6px 8px rgba(0, 0, 0, 0.2);
                border-radius: 5px 5px 5px 5px;
                table-layout: fixed;
                border-collapse: collapse;
                margin: 25px 0;
                font-size: 0.9em;
                width: 95%;
                overflow: hidden;
            }
            td {
                word-wrap: break-word;
                padding: 12px 15px;
                background-color: white;
            }
            th {
                padding: 12px 15px;
                background-color: #2F9BB6;
                color: white;
                text-align: left;
                border-collapse: collapse;
            }
            tbody tr {
                border-bottom: 1px solid #dddddd;
            }
            tbody tr:last-of-type {
                border-bottom: 5px solid #2F9BB6;
            }
        </style>
    </head>
    <body>
        <header>
            <h1 class="notes">NOTES</h1>
            <nav>
                <ul class="navs">
                    <li><a href="http://127.0.0.1:8000/lab-4/" class="this">Tables</a></li>
                    <li><a href="http://127.0.0.1:8000/lab-4/add-note">Add</a></li>
                    <li><a href="http://127.0.0.1:8000/lab-4/note-list">List</a></li>
                </ul>
            </nav>
        </header>
        <div class="content">
            <table>
                <th>Title</th>
                <th>From</th>
                <th>To</th>
                <th>Message</th>
                {% if Notes %}
                    {% for note in Notes %}
                <tr>
                    <td>{{ note.title }}</td>
                    <td>{{ note.From }}</td>
                    <td>{{ note.to }}</td>
                    <td>{{ note.message }}</td>
                </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </body>
</html>