<!DOCTYPE html>
<html>
    <head>
        <title>Tutorial CSS Yay</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'tutorial.css' %}">
    </head>
    <body>
        <div>
            <h1>Tutorial CSS Yay</h1>
        </div>
        <div id="main">
          <div>
              <p>published: 04 Oktober 2021</p>
              <h1><a href="">Tutorial CSS ku</a></h1>
              <p>Yay ini tutorial yang gampang!</p>
          </div>
        </div>
    </body>
</html>