<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Note List</title>
        <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous">
        </script>
        <style>
            table, tr, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th {
                border: 1px solid black;
                background-color: rgb(47, 155, 182);
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <table>
            <tr ta>
                <th>Title</th>
                <th>From</th>
                <th>To</th>
                <th>Message</th>
                <th>Action</th>
            </tr>
            {% if Notes %}
                {% for note in Notes %}
            <tr>
                <td>{{ note.title }}</td>
                <td>{{ note.From }}</td>
                <td>{{ note.to }}</td>
                <td>{{ note.message }}</td>
                <td>
                    <button type="button">View</button><br/>
                    <button type="button">Edit</button><br/>
                    <button type="button">Delete</button>
                </td>
            </tr>
                {% endfor %}
            {% endif %}
        </table>
    </body>
</html>