<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Add Friend</title>
    </head>
    <body>
        <form method="POST" action="">
            {% csrf_token %}
            Name: {{form.name}}<br>
            NPM: {{form.npm}}<br>
            DOB: {{form.dob}}<br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>