<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Note List</title>
        <style>
            table, tr, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th {
                border: 1px solid black;
                background-color: rgb(47, 155, 182);
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <table>
            <tr ta>
                <th>Title</th>
                <th>From</th>
                <th>To</th>
                <th>Message</th>
            </tr>
            {% if Notes %}
                {% for note in Notes %}
            <tr>
                <td>{{ note.title }}</td>
                <td>{{ note.From }}</td>
                <td>{{ note.to }}</td>
                <td>{{ note.message }}</td>
            </tr>
                {% endfor %}
            {% endif %}
        </table>
    </body>
</html>